<div class="content-box">
    <div class="table-controls">
        <div class="top-left">
            <div class="search-filter">
                <input type="text" id="search-input" placeholder="Tìm kiếm..."/>
                <select id="search-select">
                    <option value="-1">Tất cả giám đốc</option>
                </select>
                <button id="search">Tìm kiếm</button>
            </div>
        </div>

        <div class="top-right">
            <button class="add-btn">Thêm mới</button>
        </div>
    </div>

    <div class="table-container">
        <table id="tableData" class="display">
            <thead>
            <tr>
                <th>#</th>
                <th>Tên chi nhánh</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Giờ mở cửa</th>
                <th>Giờ đóng cửa</th>
                <th>Giám đốc cơ sở</th>
                <th>Trạng thái</th>
                <th>Xoá</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="pagination-container">
        <div class="pagination">
            <button id="prevPageBtn">
                <span>Trước</span>
            </button>
            <input id="pageInfo" type="text" placeholder="1 / 1" disabled/>
            <button id="nextPageBtn">
                <span>Sau</span>
            </button>
        </div>
        <div class="records-per-page">
            <label for="records-select">Số bản ghi mỗi trang:</label>
            <select id="records-select">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>

<script>
    let page = 0;
    let totalPages = 0;
    let directorMap = {};

    async function toggleStatus(id) {
        showModal('confirm', 'Xác nhận thao tác', `Bạn có chắc chắn muốn đổi trạng thái chi nhánh này không?`, null, async (result) => {
            if (result) {
                try {
                    const result = await httpRequest('/api/admin/cinemas/toggle-status/' + id, {
                        method: 'PUT'
                    });

                    if (result.code === 1) {
                        await loadData();
                    } else {
                        showModal('error', 'Ôi xong!', result.message);
                    }
                } catch (error) {
                    console.error('Lỗi khi đổi trạng thái:', error);
                    showModal('error', 'Ôi xong!', 'Đã xảy ra lỗi khi gửi yêu cầu.');
                }
            }
        });
    }

    async function del(id) {
        showModal('confirm', 'Xác nhận thao tác', `Bạn có chắc chắn muốn xoá chi nhánh này không?`, null, async (result) => {
            if (result) {
                try {
                    const result = await httpRequest('/api/admin/cinemas/delete/' + id, {
                        method: 'DELETE'
                    });

                    if (result.code === 1) {
                        await loadData();
                    } else {
                        showModal('error', 'Ôi xong!', result.message);
                    }
                } catch (error) {
                    console.error('Lỗi khi xóa quyền:', error);
                    showModal('error', 'Ôi xong!', 'Đã xảy ra lỗi khi gửi yêu cầu.');
                }
            }
        });
    }

    async function loadDirectors() {
        try {
            const response = await httpRequest('/api/admin/users/get-all', {
                method: 'GET'
            });
            const selectElement = document.getElementById('search-select');
            if (response.code === 1 && response.data) {
                response.data.forEach(director => {
                    directorMap[director.id] = director.name;
                    const option = document.createElement('option');
                    option.value = director.id;
                    option.textContent = director.name;
                    selectElement.appendChild(option);
                });
            } else {
                console.error('Không thể tải danh sách người dùng:', response.message);
            }
        } catch (error) {
            console.error('Lỗi khi tải danh sách người dùng:', error);
        }
    }

    async function loadData() {
        try {
            const pageSize = document.getElementById("records-select").value;
            const search = document.getElementById("search-input").value;
            const directorId = document.getElementById("search-select").value;
            const result = await httpRequest('/api/admin/cinemas/get-list?page=' + page + '&pageSize=' + pageSize + '&sortBy=id&sortOrder=desc&search=' + search + '&directorId=' + directorId);
            if (result.message !== 'SUCCESS') {
                console.error('Lỗi khi lấy dữ liệu:', result.message);
                return;
            }
            const datas = result.data.data;
            const tableBody = document.querySelector("#tableData tbody");
            tableBody.innerHTML = "";
            datas.forEach((item, index) => {
                const directorName = directorMap[item.cinemaDirector] || 'Chưa phân công';
                const row = document.createElement("tr");
                row.innerHTML = `
                <td>${page * pageSize + index + 1}</td>
                <td><a href="/utc-cinemas/cinemas/edit?id=${item.id}">${item.name}</a></td>
                <td>${item.location}</td>
                <td>${item.phoneNumber || '-'}</td>
                <td>${item.email || '-'}</td>
                <td>${item.openingTime || '-'}</td>
                <td>${item.closingTime || '-'}</td>
                <td>${directorName}</td>
                <td>
                      <span class="iconify toggle-status-icon ${item.status === 1 ? 'status-on' : 'status-off'}"
                            data-icon="${item.status === 1 ? 'mdi:toggle-switch' : 'mdi:toggle-switch-off'}"
                            data-inline="false"
                            title="Đổi trạng thái"
                            onclick="toggleStatus(${item.id})">
                      </span>
                </td>
                <td>
                    <span class="iconify delete-icon"
                          data-icon="mdi:trash-can-outline"
                          data-inline="false"
                          title="Xóa"
                          onclick="del(${item.id})">
                    </span>
                </td>
                `;
                tableBody.appendChild(row);
            });
            totalPages = result.data.totalPages;
            if (totalPages > 0 && page > totalPages - 1) {
                page = 0;
                await loadData();
            }
            document.getElementById("pageInfo").placeholder = (totalPages == 0 ? 0 : (page + 1)) + " / " + totalPages;
        } catch (error) {
            console.error("Lỗi khi gọi API:", error);
        }
    }

    function prevPage() {
        if (page === 0) return;
        page--;
        loadData();
    }

    function nextPage() {
        if (page === (totalPages - 1)) return;
        page++;
        loadData();
    }

    document.addEventListener('DOMContentLoaded', async function () {
        document.getElementById('nextPageBtn').addEventListener('click', nextPage);
        document.getElementById('prevPageBtn').addEventListener('click', prevPage);
        document.getElementById("search").addEventListener("click", loadData);
        document.getElementById("records-select").addEventListener("change", loadData);
        document.querySelector(".add-btn").addEventListener("click", function () {
            navigateTo("/utc-cinemas/cinemas/create")
        });

        await loadDirectors();
        await loadData();
    });
</script>
