<div class="content-box">
    <div class="table-controls">
        <div class="top-left">
            <div class="search-filter">
                <input type="text" id="search-input" placeholder="Tìm kiếm..."/>
                <select id="status-select">
                    <option value="-1">Tất cả trạng thái</option>
                    <option value="0">Đang chiếu</option>
                    <option value="1">Sắp chiếu</option>
                    <option value="2">Dừng chiếu</option>
                </select>
                <button id="search">Tìm kiếm</button>
            </div>
        </div>

        <div class="top-right">
            <button class="add-btn" onclick="navigateTo('/utc-cinemas/movies/create')">Thêm mới</button>
        </div>
    </div>

    <div class="table-container">
        <table id="tableData" class="display">
            <thead>
            <tr>
                <th>#</th>
                <th>Hình ảnh</th>
                <th>Tên phim</th>
                <th>Thể loại</th>
                <th>Thời lượng</th>
                <th>Đạo diễn</th>
                <th>Ngày phát hành</th>
                <th>Xếp hạng</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="pagination-container">
        <div class="pagination">
            <button id="prevPageBtn">
                <span>Trước</span>
            </button>
            <input id="pageInfo" type="text" placeholder="1 / 1" disabled/>
            <button id="nextPageBtn">
                <span>Sau</span>
            </button>
        </div>
        <div class="records-per-page">
            <label for="records-select">Số bản ghi mỗi trang:</label>
            <select id="records-select">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
<script>
    let page = 0;
    let totalPages = 0;
    const statusLabels = {
        2: 'Dừng chiếu',
        0: 'Đang chiếu',
        1: 'Sắp chiếu'
    };
    const statusClasses = {
        2: 'bg-danger',
        0: 'bg-success',
        1: 'bg-warning'
    };

    async function loadData() {
        try {
            const pageSize = document.getElementById("records-select").value;
            const search = document.getElementById("search-input").value;
            const status = document.getElementById("status-select").value;

            const apiUrl = `/api/admin/movies/get-list?page=${page}&pageSize=${pageSize}&sortBy=id&sortOrder=desc&search=${search}&status=${status}`;
            const result = await httpRequest(apiUrl);

            if (result.message !== 'SUCCESS') {
                console.error('Lỗi khi lấy dữ liệu:', result.message);
                return;
            }

            const datas = result.data.data;
            const tableBody = document.querySelector("#tableData tbody");
            tableBody.innerHTML = "";

            datas.forEach((item, index) => {
                const row = document.createElement("tr");
                row.onclick = () => {
                    navigateTo(`/utc-cinemas/movies/edit?id=${item.id}`);
                };

                const releaseDate = item.releaseDate ? new Date(item.releaseDate).toLocaleDateString('vi-VN') : '-';

                row.innerHTML = `
                <td>${page * pageSize + index + 1}</td>
                <td style="text-align: center">
                    <img src="/api/admin/movies/get-image?imagePath=${item.image}"
                         alt="${item.title}"
                         style="max-height: 80px; max-width: 60px; object-fit: cover;">
                </td>
                <td>${item.title}</td>
                <td>${item.genre}</td>
                <td>${item.duration} phút</td>
                <td>${item.director}</td>
                <td>${releaseDate}</td>
                <td>${item.rating}/10</td>
                <td>
                  <span class="badge ${statusClasses[item.status]}">
                    ${statusLabels[item.status]}
                  </span>
                </td>
                `;
                tableBody.appendChild(row);
            });

            totalPages = result.data.totalPages;
            if (totalPages > 0 && page > totalPages - 1) {
                page = 0;
                await loadData();
            }
            document.getElementById("pageInfo").placeholder = (totalPages == 0 ? 0 : (page + 1)) + " / " + totalPages;
        } catch (error) {
            console.error("Lỗi khi gọi API:", error);
        }
    }

    function prevPage() {
        if (page === 0) return;
        page--;
        loadData();
    }

    function nextPage() {
        if (page === (totalPages - 1)) return;
        page++;
        loadData();
    }

    document.addEventListener('DOMContentLoaded', async function () {
        document.getElementById('nextPageBtn').addEventListener('click', nextPage);
        document.getElementById('prevPageBtn').addEventListener('click', prevPage);
        document.getElementById("search").addEventListener("click", loadData);
        document.getElementById("records-select").addEventListener("change", loadData);
        await loadData();
    });
</script>